*{
    font-family:sans-serif!important;
}

/* Sidebar Styles */
.sidebar{
    height:300vh;
    background-color:#eee;
    border-right:1px solid #a2a9b1;
}

li,a{
    font-family:sans-serif;
    font-size:0.9em;
}

.bottom-border{
    border-bottom: 1px solid #a2a9b1;
    /*background-image:linear-gradient(to right, #a2a9b1 , #eee);*/
}
