*{
    font-family:sans-serif!important;
    font-size:1em;
}

/* Sidebar Styles */
.sidebar{
    height:300vh;
    background-color:#eee;
    border-right:1px solid #a2a9b1;
}

a{
    font-family:sans-serif;
    font-size:0.9em;
    color:#0645ad;
}

/8li{
    font-family:sans-serif;
    font-size:0.9em;
}*/

.fontreduce{
    font-size:0.8em;
}

.bottom-border{
    border-bottom: 1px solid #a2a9b1;
    /*background-image:linear-gradient(to right, #a2a9b1 , #eee);*/
}

.navtabstyle{
    border-bottom:2px solid #cedff2;   
}

.navitemstyle{
    border-right:1px solid #b5d4f7;
}

.bg-tab-blue{
    /*background-color:#cedff2;*/
    background-image: linear-gradient(#fff, #cedff2);
}

.text-none{
    color:#cedff2;
}

.top-navbar{
    position:static;
  }

/* Box Styles */

.box{
    border:1px solid #ddd;
    background-color:#f9f9f9;
}

.wiki{
    color:#0645ad!important;
}


.wiki:hover > .wiki-box{
  display:block;
}

.wiki-box{
    box-shadow: 2px 3px #f9f9f9;
    display:none;    
}

.wiki-img{
    width:300px;
    height:auto;
    border:1px solid #eee;
    background: white;;
}
.wiki-desc{
    width:300px;
    height:auto;
    border:1px solid #eee;    
    background: white;
    font-size: 0.9em;
    padding:1em;
}

.wiki-cogs{
    width:20px;
    height:20px;
    border:1px solid #eee;
    box-shadow: 2px 3px #f9f9f9;
    background: white;
}

.wiki-cogs:hover{
    background: #eee;
}

.box-links{
    color:#0645ad;
    font-size:1em;
}

.box-green{
    background-color:#f5fffa;
    border: 1px solid #cef2e0;
}

.box-dark-green{
    background-color:#cef2e0;
    border: 1px solid #a3bfb1;
    padding-left:0.3em;
}
